.bg-image {
    background-image: ('Rendang_tradisional_dish.jpg');
    background-size: cover;
    background-position: center;
}

header h1 {
    font-weight: bold;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
}

.card img {
    height: 200px;
    object-fit: cover;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
}

#menu .card {
    transition: transform 0.3s;
}

#menu .card:hover {
    transform: scale(1.05);
}

blockquote {
    border-left: 5px solid #ccc;
    padding-left: 10px;
    margin-top: 20px;
    font-style: italic;
}
